

.acvi-wrap{
    margin: 20px 20px 20px 2px;
}

.acvi-content{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
}

header{
    padding-bottom: 24px;
    border-bottom: 2px solid #e2e6ec;
}

.acvi-body{
    padding: 24px 0;
}

footer{
    display: flex;
    justify-content: end;
}